<div class="container heading">
   <img src="https://img.icons8.com/ultraviolet/40/000000/smartphone-cpu.png" class="mx-2" width="40" height="40">
    <h1>CPU</h1>
</div>


<div class="card shadow">
    <div class="card-body">
     <div class="row">
        <div class="col-md-6">
        <h5>Manufacter: </h5>{{cpus.manufacturer}}
        <hr>
        <h5>Brand: </h5>{{cpus.brand}}
        <hr>
        <h5>Vendor: </h5>{{cpus.vendor}}
        <hr>
        <h5>Family: </h5>{{cpus.family}}
        </div>
        <div class="col-md-6">
        <h5>Model: </h5>{{cpus.model}}
         <hr>
        <h5>Speed: </h5>{{cpus.speed}} Ghz
         <hr>
        <h5>Cores: </h5>{{cpus.cores}}
         <hr>
        <h5>Processors: </h5>{{cpus.processors}}
        </div>
    </div>
   </div>
</div>