<h1 class="text-center">General</h1>

<div class="card shadow">
    <div class="card-body">
        <h5>Lib version: </h5>{{version}}
        <hr>
        <h5>Local (server ) time: </h5>{{time.current}}
        <hr>
        <h5>Uptime: </h5>{{time.uptime}}
        <hr>
        <h5>Timezone: </h5>{{time.timezone}}
        <hr>
        <h5>Timezone name: </h5>{{time.timezoneName}}
    </div>
</div>

