<div class="container heading">
   <img src="https://img.icons8.com/dusk/48/000000/memory-slot.png" class="mx-2" width="48" height="48">
    <h1>Memory</h1>
</div>

<div class="card shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h5>Total: </h5>{{memory.total}} GB
                <hr>
                <h5>Free: </h5>{{memory.free}} GB
                <hr>
                <h5>Used: </h5>{{memory.used}} GB
                <hr>
                <h5>Active: </h5>{{memory.active}} GB
            </div>
            <div class="col-md-6">
                <h5>Available: </h5>{{memory.available}} GB
                <hr>
                <h5>Swaptotal: </h5>{{memory.swaptotal}} GB
                <hr>
                <h5>Swapused: </h5>{{memory.swapused}} GB
                <hr>
                <h5>Swapfree: </h5>{{memory.swapfree}} GB
            </div>
        </div>
    </div>
</div>