<div class="container heading">
   <img src="https://img.icons8.com/dusk/40/000000/linux.png" width="40" height="40">
   <img src="https://img.icons8.com/ultraviolet/40/000000/windows-10.png" class="mx-2" width="40" height="40">
    <h1>Operating System</h1>
</div>

<div class="card shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h5>Platform: </h5>{{os.platform}}
                <hr>
                <h5>Distro: </h5>{{os.distro}}
                <hr>
                <h5>Release: </h5>{{os.release}}
                <hr>
                <h5>Kernel: </h5>{{os.kernel}}
                <hr>
                <h5>Arch: </h5>{{os.arch}}
            </div>
            <div class="col-md-6">
                <h5>Hostname: </h5>{{os.hostname}}
                <hr>
                <h5>OS build version: </h5>{{os.codepage}}
                <hr>
                <h5>Logo file: </h5>{{os.logofile}}
                <hr>
                <h5>Serial: </h5>{{os.serial}}
            </div>
        </div>
    </div>
</div>